// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

label {
    font-size: 1.6em;
    user-select: none;
    &.pointer {
        cursor: pointer;
    }
}
a.btn,
button.btn[type=submit] {
    font-size: 1.4em;
    margin: 0 10px;
    text-transform: uppercase;
}

.form-check {
    position: relative;
    input[type=checkbox] {
        position: relative;
        top: 5px;
    }

}

.list-table {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        h3{
            font-family: $sa;
            font-size: 1.8em;
            width: 30%;
        }
        .alk {
            width: 40px;
            height: 40px;
            fill: darkcyan;
        }
    }
    &_buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;  
    }
}
